# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.history

node_modules
dist_electron
dist
dist-ssr
*.local
test
bin/*
.serena/*
api/.serena/*

# Editor directories and files
.codebuddy/*
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dev-dist/*
pnpm-lock.yaml
pnpm-workspace.yaml
vite.config.js*

plugins/extensions/*